In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
session.query(measurement.date).order_by(measurement.date).first()


last_date = session.query(measurement.date).order_by(measurement.date.desc()).first()

print(last_date)

('2017-08-23',)

In [27]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.

oneyear_date = dt.datetime.strptime(last_date[0], '%Y-%m-%d')
start_date = oneyear_date - dt.timedelta(days=365)
#print(start_date)

# Perform a query to retrieve the data and precipitation scores

data_percipitation = session.query(measurement.date, measurement.prcp).filter(measurement.date >= start_date).all()
for record in data_percipitation:
    # print(record)


# Save the query results as a Pandas DataFrame and set the index to the date column

percipitation_df = pd.DataFrame(data_percipitation, columns = ["date", "prcp"])
percipitation_df.set_index("date", inplace=True)

#percipitation_df.head()
# Sort the dataframe by date
percipitation_df = percipitation_df.sort_values(["date"])


# Use Pandas Plotting with Matplotlib to plot the data

IndentationError: expected an indented block (<ipython-input-27-f712dca15b3f>, line 19)

In [ ]:
mat_data= percipitation_df.plot.bar(figsize=(10,5), width=10)
mat_data.set_xlabel("date", fontsize=10)
mat_data.set_xticklabels([])
plt.legend(['precipitation'], fontsize=14)
mat_data.get_legend().set_bbox_to_anchor((0.6, 1))

plt.show()

In [22]:
# Use Pandas to calcualte the summary statistics for the precipitation data

            prcp
date
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00
2016-08-28  0.01

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()